[Desktop Entry]
Version=1.0
Type=Application
Name=▶ START CHAHLIE
Comment=Double-click to launch Chahlie
Icon=utilities-terminal
Terminal=true
Exec=bash ./START-CHAHLIE.sh
Categories=Game;Utility;
StartupNotify=true
